{{define "subject"}}Welcome to ZepToMail Test!{{end}}

{{define "plainBody"}}
Hi {{.RecepientName}},

Thanks for testing the Go ZepToMail package!

Please note that this is a test template.

Thanks.
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <p>Hi {{.RecepientName}},</p>
  <p>Thanks for testing the Go ZepToMail package!</p>
  <p>Please note that this is a test template.</p>
  <p>Thanks.</p>
</body>

</html>
{{end}}